.slide-mas {
  height: 300px;
}

.btn-mas {
  top: 46%;
  position: relative;
  margin-left: 10px;
  width: 50px;
}

.btn-mas > button {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  width: auto !important;
}

swiper-container {
  padding-right: 40px !important;
}
