<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Pelicula
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-searchbar type="search" placeholder="Buscar pelicula" animated debounce="700" [value]="textValue"
    (ionInput)="onSearchChange($event)"></ion-searchbar>
  <ion-title></ion-title>
</ion-toolbar>

<ion-content>

  <ion-grid *ngIf="moviesLoading">
    <ion-row>
      <ion-col class="loading">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="movies.length === 0">
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let idea of ideas" (click)="onSetIdea(idea)">
      <ion-label color="primary">{{idea}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let movie of movies">
        <ion-card (click)="onViewDetail(movie.id)">
          <ion-img [src]="movie.poster_path | image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">
              <h2>{{movie.title}}</h2>
            </ion-text>
            <ion-label>{{movie.overview}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
