<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Preliculas Nuevas</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [recentMovies]="recentMovies"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Cartelera</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="recentMovies"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Populares</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [movies]="popular" (loadMore)="loadMore()"></app-slideshow-pares>


</ion-content>
