<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Preliculas Favoritas</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let movie of favorites">
          <ion-img [src]="movie.poster_path | image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">
              <h2>{{movie.title}}</h2>
            </ion-text>
            <ion-label>{{movie.overview}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
